
body {
    background-color: #111112;
}
.infocontainer {
    background-color: #1e1e1f;
    border-radius: 25px;
    width: 225px;
    height: 350px;
    padding: 10px;
    border: 2px solid #383838;
    margin: 0;

    position: fixed;
    left: 20%;
    top: 7.5%;
}

.pfp {
    margin-top: 10px;
    border-radius: 50%;
    width: 65px;
    height: 65px;
}

.name {
    margin-top: 10px;
    text-align: center;
}
.badge {
    margin-top: 15px;
    background: #383838;
}
.discord-button {
    margin-top: 60px;
}
.github-button {
    margin-top: 20px;
}